extends layout

block content
	#fb-root
	script(type='text/javascript')
		window.fbAsyncInit = function() {
			FB.init({
				appId : '248733805247979',
				status : true,
				cookie : true,
				xfml : true 
			});
		};

		(function(d) {
			var js, id = 'facebook-jssdk', ref = d.getElementsByTagName('script')[0];
			if (d.getElementById(id)) {return;}
			js = d.createElement('script');
			js.id = id;
			js.async = true;
			js.src = "//connect.facebook.net/en_US/all.js";
			ref.parentNode.insertBefore(js, ref);
		}(document));

	h1= title
	p Welcome to #{title}
	button#login Login
	button#logout Logout