extends ../../../views/layout

block content
	.container
		.hero-unit
			em #{'// social snippet sharing'}
			h1.logo #{'<snippetshare/>'}
			hr
			p
				a.btn.btn-primary.btn-large(href="/fbauth") Login With Facebook