extends ../../../../views/layout

block content
	include ../includes/navbar
	.container
		form.form-horizontal(method="POST", action="/admin/snippets/" + snippet.id)
			input(name= "_method", value= "PUT", type= "hidden")
			.control-group
				label.control-label(for="description") Description
				.controls
					input(type="text", value= snippet.description, name="description")
			.control-group
				label.control-label(for="name") Name
				.controls
					input(type="text", value= snippet.name, name="name")
			.control-group
				label.control-label(for="snippet") Snippet
				.controls
					textarea.feild.span8(rows="20", name="snippet") #{snippet.snippet}
			.control-group
				.controls
					button.btn.btn-success(type="submit") Save